/* Notification Allow Section */
.notification_allow_wrapper {
  .notification_sub_title {
    margin-top: 10px;
  }
  .notify_img {
    margin: 10vh 0;
  }
  .button_area {
    margin-top: 42px;
  }
  .login_btn_border {
    margin-top: 10px;
  }

  //Account Success Message
  .account_shape {
    max-height: 500px;
  }
  .account_area {
    .logo_title {
      margin-top: 42px;
    }
  }

  .check_icon {
    max-width: 121px;
    max-height: 121px;
  }
}


