/* Success Section */
.success_wrapper {
  .success_area {
    min-height: 100vh;
    padding-bottom: 20px;
  }
  .success_text {
    text-align: center;
    max-width: 295px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    .done_check_icon {
      max-width: 111px;
      max-height: 111px;
    }
    h4 {
      color: #2743fe;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      margin-top: 20px;
    }
  }
}
/* Section */
/* Section */
