/* Header  Section */
.home_header_wrapper {
  .logo {
    img {
      max-width: 132px;
      max-height: 40px;
    }
  }
  .header_right_list {
    gap: 10px 16px;
  }
  .header_number_area {
    position: relative;
    border-radius: 9px;
    background: #fbca00;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    gap: 4px;
    .circle_shape {
      width: 12px;
      height: 12px;
      background-color: black;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    .number {
      color: #000;
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
    }
    .right_shape {
      position: absolute;
      left: 6.5px;
      bottom: -6px;
    }
  }
}

/* Category Slider Section */
.category_slider_area {
  margin-top: 16px;
  margin-bottom: 28px;
  box-shadow: 2px 2px 4px #0000001a;
  // .swiper {
  //   padding: 0 5px 2px 5px;
  // }
  .swiper-slide {
    width: auto;
    max-width: 63px;
  }
  .category_item {
    position: relative;
    text-align: center;
    display: block;
    &::after {
      content: "";
      position: absolute;
      bottom: -24px;
      left: 50%;
      transform: translateX(-50%) scaleX(0);
      width: 80%;
      height: 2px;
      background-color: #000;
      -webkit-transform: translateX(-50%) scaleX(0);
      -moz-transform: translateX(-50%) scaleX(0);
      -ms-transform: translateX(-50%) scaleX(0);
      -o-transform: translateX(-50%) scaleX(0);
      transform-origin: right center;
      transition: transform 0.3s ease;
      -webkit-transition: transform 0.3s ease;
      -moz-transition: transform 0.3s ease;
      -ms-transition: transform 0.3s ease;
      -o-transition: transform 0.3s ease;
    }
    img {
      max-width: 36px;
      max-height: 36px;
    }
    h4 {
      font-family: $secondary-font;
      color: #626262;
      text-align: center;
      font-size: 9.934px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-top: 8px;
    }
  }
  .event_category_item {
    &::before {
      content: "";
      position: absolute;
      right: -11px;
      top: 6px;
      width: 1px;
      height: 40px;
      background: #8f8f8f;
    }
    h4 {
      color: #1872f6;
    }
  }

  .active_category {
    &::after {
      transform: translateX(-50%) scaleX(1);
      -webkit-transform: translateX(-50%) scaleX(1);
      -moz-transform: translateX(-50%) scaleX(1);
      -ms-transform: translateX(-50%) scaleX(1);
      -o-transform: translateX(-50%) scaleX(1);
      transform-origin: left center;
    }
  }
}

//Mobile new menu
.mobile_menu_wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  display: none;
  @include max-media-width(991) {
    display: block;
  }
  .top_bar_area {
    display: none;
  }

  .menu_list {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px 3px;
    min-height: 60px;
    li {
      a {
        text-align: center;
      }
      .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .label_name {
      color: #929292;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      transform: translateY(-4px);
      -webkit-transform: translateY(-4px);
      -moz-transform: translateY(-4px);
      -ms-transform: translateY(-4px);
      -o-transform: translateY(-4px);
    }
    .active_icon {
      display: none;
    }
    svg {
      color: #b7bac9;
    }
  }
  .list_area {
    // position: relative;
    // z-index: 10;
    // filter: drop-shadow(0px -2px 4px rgba(155, 142, 142, 0.25));
    background-color: white;
    margin-top: 3px;
  }
  .home_menu_btn {
    position: relative;
    top: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    background-color: #1872f6;
    border-radius: 50%;
    .inactive_home_icon {
      max-width: 24px;
    }
  }
  .shape_svg {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    max-height: 80px;
    // display: none;
  }
  .active_mobile_menu {
    position: relative;
    // top: 4px;
    .icon {
      background: rgb(230, 231, 231);
    }
    svg {
      color: #1872f6 !important;
    }
    .label_name {
      color: #1872f6 !important;
    }
    .active_icon {
      display: block;
    }
    .inactive_icon {
      display: none;
    }
  }
  .top_mobile_menu_list {
    position: relative;
    // top: 20px;
    z-index: 101;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 8px 3px;
    padding-top: 13px;
    padding-bottom: 11px;
    border-radius: 8px;
    background-color: white;
    filter: drop-shadow(0px -2px 4px rgba(155, 142, 142, 0.25));
    // visibility: hidden;
    // opacity: 0;
    // user-select: none;
    // height: 0;
    @include hover-transition();
    a,
    button {
      text-align: center;
    }
    .text {
      display: block;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 12px;
      color: #1872f6;
      margin-top: 2px;
    }
    .scan_btn {
      margin-top: -22px;
      display: block;
    }
  }
  .outline_shape {
    position: relative;
    top: -6px;
    // left: -4px;
    &::before {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      width: 100%;
      height: 0;
      background: white;
      /* border-radius: 50%; */
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
    }
  }
  .active_home__icon {
    display: none;
  }
  &.mobile_new_active {
    z-index: 1000;
    .top_mobile_menu_list {
      top: -10px;
      visibility: visible;
      opacity: 1;
      user-select: auto;
      height: auto;
    }
    .home_menu_btn {
      background-color: white;
    }
    .outline_shape {
      &::before {
        height: 100%;
      }
    }
    .active_home__icon {
      display: block;
    }
    .inactive_home_icon {
      display: none;
    }
  }
}

/* Header Search Section */
.header_search_modal_area {
  height: 100vh;
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  .filter_icon {
    img {
      @include hover-transition();
    }
  }
  .sorting_active {
    img {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
    }
  }
}

/* Filter Section */
.filter_modal_area {
  position: fixed;
  left: 0;
  bottom: -100%;
  z-index: 1005;
  width: 100%;
  // max-height: 100vh;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  border-radius: 23px 23px 0px 0px;
  box-shadow: 0px -6px 27px 0px rgba(0, 0, 0, 0.25);
  @include customScrollbarInner();
  overflow-x: hidden;
  @include hover-transition();
  opacity: 0;
  visibility: hidden;
  &.filter_active {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }
  .category_area {
    margin-top: 30px;
    .accordion {
      margin-top: 12px;
      margin-left: 28px;
      display: none;
    }
    .accordion-item {
      border: none;
      border-radius: 0;
      margin-bottom: 8px;
      .form-check {
        align-items: center;
        margin-top: 0;
        margin-bottom: 8px;
      }
      .form-check-label {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
    .accordion-button {
      padding: 0;
      color: #000;
      font-family: $secondary-font;
      font-size: 9.934px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      background: transparent;
      border: none !important;
      outline: none;
      box-shadow: none;
      &::after {
        width: 10px;
        height: 10px;
        background-size: 10px;
      }
    }
    .accordion-body {
      padding: 0;
      padding-top: 10px;
      padding-left: 5px;
    }
  }
  .category_filter_grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: start;
    gap: 0px 15px;
    margin-top: 4px;
  }
  .sub_grid {
    display: grid;
    grid-template-columns: minmax(0, 22px) repeat(1, minmax(0, 1fr));
    align-items: start;
    gap: 9px;
  }
  .form-check {
    display: grid;
    grid-template-columns: minmax(0, 19px) repeat(1, minmax(0, 1fr));
    align-items: start;
    gap: 9px;
    padding: 0;
    margin-top: 20px;
  }
  .main_form_check {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 7px 12px;
    width: 100%;
    .right_arrow {
      width: 7px;
    }
  }
  .form-check-input {
    margin: 0;
    width: 19px;
    height: 19px;
    border-radius: 50%;
  }
  .form-check-label {
    display: grid;
    grid-template-columns: minmax(0, 22px) repeat(1, minmax(0, 1fr));
    align-items: center;
    gap: 9px;
    span {
      color: #000;
      font-family: $secondary-font;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }
  .second_category_filter {
    margin-top: 30px;
    .category_filter_grid {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .form-check {
      align-items: center;
      margin-top: 10px;
    }
    .form-check-label {
      grid-template-columns: repeat(1, minmax(0, 1fr));
      span {
        display: inline-block;
        word-break: break-all;
      }
    }
  }

  .select_area {
    margin-top: 46px;
    .bring_bottom_text {
      margin-bottom: 20px;
    }
  }
  .area_list {
    gap: 10px;
    button,
    a {
      border-radius: 47px;
      border: 1px solid #939393 !important;
      padding: 6px 10px;
      color: #000;
      font-family: $secondary-font;
      font-size: 9.934px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
    }
    .active {
      color: white;
      background: #1872f6;
    }
  }
  .range_area {
    margin-top: 38px;
  }
  .addui-slider-handle-l {
    left: 0 !important;
    user-select: none;
    pointer-events: none;
    -webkit-user-drag: none;
    &:hover {
      box-shadow: none;
    }
    .addui-slider-value {
      display: none;
    }
  }
  .addui-slider {
    width: 82%;
    margin: 0;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    .addui-slider-range,
    .addui-slider-handle::after,
    .addui-slider-value {
      background: #1872f6 !important;
    }
  }
  .addui-slider-value {
    span {
      font-size: 10px !important;
    }
  }
  .btn_area {
    margin-top: 30px;
  }
}

// Sub Category Filter Section
.sub_filter_modal_area {
  display: none;
  .category_filter_grid {
    margin-top: 20px;
  }
  .form-check {
    margin-top: 7px;
  }
}

// Sub Inner Category Filter Section
.sub_inner_filter_modal_area {
  display: none;
  .form-check-label {
    display: block;
    margin-top: -5px;
  }
}


//header Search Modal New
.header_divider_search_area{
  position: fixed;
  left: 0;
  bottom: -100%;
  z-index: 505;
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: white;
  box-shadow: 0px -6px 27px 0px rgba(0, 0, 0, 0.25);
  // @include customScrollbarInner();
  overflow-x: hidden;
  @include hover-transition();
  opacity: 0;
  visibility: hidden;
  &.filter_active {
    bottom: 0;
    opacity: 1;
    visibility: visible;
  }
}
